<ion-view title="Exercise"+{{exerciseName}}>
    <ion-nav-bar>
        <ion-nav-buttons side="primary">
            <button class="button button-clear " ui-sref="home.exercises.list" >
                <i class="icon ion-ios-arrow-left"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="button-bar padding">
            <button class="button " ui-sref="home.exerciseView.sound"><i class="icon ion-headphone" ></i></button>
            <button class="button " ui-sref="home.exerciseView.text"><i class="icon ion-document-text"></i></button>
        </div> 
         
        <div class="padding">
            <ion-nav-view name="exerciseContent"></ion-nav-view>
        </div>
            
        <div class="button-bar padding">
            <button class="button button-clear"><i class="icon ion-heart"></i></button>
            <button class="button button-clear"><i class="icon ion-more"></i></button>
            <button class="button button-clear"><i class="icon ion-close"></i></button>                
        </div>  
    </ion-content>
</ion-view>