<ion-view view-title="Login">
    <ion-content>
        <div ng-hide="options.isLoggedIn" class="list list-inset">
            <label class="item item-input item-floating-label">
                <span class="input-label">Brukernavn</span>
                <input type="text" ng-model="username" placeholder="Brukernavn" />
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Passord</span>
                <input type="password" ng-model="password" placeholder="Passord" />
            </label>
            <div class="padding button-bar">
                <button class="button button-positive" ng-click="login(username, password)">
                    Logg inn
                </button>
            </div>
        </div>
        <div ng-show="options.isLoggedIn">
            <div class="padding button-bar">
                <button class="button button-positive" ng-click="logout()">
                    Logg ut
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
