<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Meny</h1>
    </ion-header-bar>
      <ion-content>
          <p ng-if="!isLoggedIn">Logg inn for å få tilgang til funksjonalitet</p>
          <ion-list>
              <ion-item ng-if="isLoggedIn" menu-close ui-sref="home.forum">
                  Forum
              </ion-item>
              <ion-item ng-if="isLoggedIn" menu-close ui-sref="home.registration.list">
                  Registreringer
              </ion-item>
              <ion-item ng-if="isLoggedIn" menu-close ui-sref="home.account">
                  Kontoinnstillinger
              </ion-item>
              <ion-item ng-if="isLoggedIn" menu-close ui-sref="home.messages">
                  Meldinger
              </ion-item>
              <ion-item ng-if="isLoggedIn" menu-close ui-sref="home.login">
                  Logg ut
              </ion-item>
              <ion-item ng-if="isLoggedIn" menu-close ui-sref="home.camera">
                  Kamera      
              </ion-item>
          </ion-list>
      </ion-content>
  </ion-side-menu>
</ion-side-menus>
