<ion-view title="{{title}}">
    <ion-tabs class="tabs-icon-top tabs-color-active-positive">

        <!-- Dashboard Tab -->
        <ion-tab title="{{entries}}" icon-off="ion-ios-filing-outline" icon-on="ion-ios-filing" ui-sref="home.messages.inbox">
            <ion-nav-view name="tab-inbox"></ion-nav-view>
        </ion-tab>
        <ion-tab title="{{entries}}" icon-off="ion-filing" icon-on="ion-filing" ui-sref="home.messages.outbox">
            <ion-nav-view name="tab-outbox"></ion-nav-view>
        </ion-tab>
        <!-- Chats Tab -->
        <ion-tab title="{{newEntry}}" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" ui-sref="home.messages.new">
            <ion-nav-view name="tab-new"></ion-nav-view>
        </ion-tab>

    </ion-tabs> 
</ion-view>