<ion-view title="{{title}}">
    <ion-nav-bar>
        <ion-nav-buttons side="primary">
            <button class="button button-clear " ui-sref="home.messages" >
                <i class="icon ion-ios-arrow-left"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="padding">
		<div class="card">
		  	<div class="item item-divider">
		    	from: {{message.sender.name}}
		  	</div>
			<div class="padding">
         		<h2>{{message.subject}}</h2>
		        <div ng-bind-html="message.content | unsafe">
		        </div>  
		    </div> 

		</div>
    </ion-content>
</ion-view>