<ion-view>
    <ion-tabs class="tabs-stable tabs-icon-only">
        <ion-tab icon="ion-document-text" ui-sref="home.registration.list">
            <ion-nav-title r="registrationListTitle"></ion-nav-title>
            <ion-nav-view name="tab-list"></ion-nav-view>
        </ion-tab>

        <ion-tab icon="ion-compose" ui-sref="home.registration.newDaily">
            <ion-nav-title r="registrationNewDailyTitle"></ion-nav-title>
            <ion-nav-view name="tab-newDaily"></ion-nav-view>
        </ion-tab>

        <ion-tab title="{{titleSmiley}}" icon="ion-happy-outline" ui-sref="home.registration.newSmiley">
            <ion-nav-title r="registrationNewSmileyTitle"></ion-nav-title>
            <ion-nav-view name="tab-newSmiley"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>