<ion-view>
    <ion-nav-title>{{title}} - {{reg.type}}</ion-nav-title>
    <ion-nav-bar>
        <ion-nav-buttons side="primary">
            <button class="button button-clear " ui-sref="home.registration.list" >
                <i class="icon ion-ios-arrow-left"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true">
        <div class="card">
            <div class="item item-divider">
                {{reg.postedAt | date: dateFormat}}
            </div>
            <div class="item item-avatar" ng-if="reg.type == 'Smiley'">
                <img ng-src="css/images/moods/big/big-{{reg.imageIndex}}.png" ng-if="reg.imageIndex!==-1" />
                <p>
                    {{reg.text}}
                </p>
            </div>
            <dl class="item item-body" ng-if="reg.type == 'Daily'">
                <dt r="registrationMyMood"></dt>
                <dd>{{reg.data.generalSatisfaction}}</dd>
                <dt r="registrationHandledDay"></dt>
                <dd>{{reg.data.handledTheDay}}</dd>
                <dt r="registrationQualityOfSleep"></dt>
                <dd>{{reg.data.qualityOfSleep}}</dd>
                <dt r="registrationHoursOfSleep"></dt>
                <dd>{{reg.data.numberOfHoursSlept}}</dd>
                <dt r="registrationQualityOfPhysicalActivity"></dt>
                <dd>{{reg.data.satisfactionWithPhysicalActivity}}</dd>
                <dt r="registrationMinutesOfPhysicalActivity"></dt>
                <dd>{{reg.data.numberOfMinutesInPhysicalActivity}}</dd>
                <dt r="registrationQualityOfDiet"></dt>
                <dd>{{reg.data.satisfactionWithDiet}}</dd>
                <dt r="registrationQualityOfSocial"></dt>
                <dd>{{reg.data.satisfactionWithSocialRelations}}</dd>
                <dt r="registrationTakenMeds"></dt>
                <dd>{{reg.data.takenMedications}}</dd>
            </dl>
        </div>
    </ion-content>

</ion-view>
