<ion-view title="{{title}} - {{reg.type}}">
    <ion-nav-bar>
        <ion-nav-buttons side="primary">
            <button class="button button-clear " ui-sref="home.registration.list" >
                <i class="icon ion-ios-arrow-left"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true">
        <div class="card">
            <div class="item item-divider">
                {{reg.postedAt | date: dateFormat}}
            </div>
            <div class="item item-avatar" ng-if="reg.type == 'Smiley'">
                <img ng-src="css/images/moods/small/{{reg.imageIndex}}.png" ng-if="reg.imageIndex!==-1" />
                <p>
                    {{reg.text}}
                </p>
            </div>
            <div ng-if="reg.type == 'Daily'">
                <dl class="item row">
                    <dt class="col col-80" r="registrationMyMood"></dt>
                    <dd class="col">{{reg.data.generalSatisfaction}}</dd>
                </dl>
                <dl class="item row">
                    <dt class="col col-80"r="registrationHandledDay"></dt>
                    <dd class="col">{{reg.data.handledTheDay}}</dd>
                </dl>
                <dl class="item row">
                    <dt class="col col-80" r="registrationQualityOfSleep"></dt>
                    <dd class="col">{{reg.data.qualityOfSleep}}</dd>
                </dl>
                <dl class="item row">
                    <dt class="col col-80" r="registrationHoursOfSleep"></dt>
                    <dd class="col">{{reg.data.numberOfHoursSlept}}</dd>
                </dl>
                <dl class="item row">                
                    <dt class="col col-80" r="registrationQualityOfPhysicalActivity"></dt>
                    <dd class="col">{{reg.data.satisfactionWithPhysicalActivity}}</dd>
                </dl>
                <dl class="item row">                 
                    <dt class="col col-80" r="registrationMinutesOfPhysicalActivity"></dt>
                    <dd class="col">{{reg.data.numberOfMinutesInPhysicalActivity}}</dd>
                </dl>
                <dl class="item row">                   
                    <dt class="col col-80" r="registrationQualityOfDiet"></dt>
                    <dd class="col">{{reg.data.satisfactionWithDiet}}</dd>
                </dl>
                <dl class="item row">                 
                    <dt class="col col-80" r="registrationQualityOfSocial"></dt>
                    <dd class="col">{{reg.data.satisfactionWithSocialRelations}}</dd>
                </dl>
                <dl class="item row">                 
                    <dt class="col col-80" r="registrationTakenMeds"></dt>
                    <dd class="col col-20">{{reg.data.takenMedications}}</dd>
                </dl>
            </div>
        </div>
    </ion-content>

</ion-view>
