<ion-view>
    <ion-nav-title r="registrationNewDailyTitle"></ion-nav-title>
    <ion-content class="has-header" padding="true">
        <div class="list list-inset">
            <label class="item">
                <div class="item-content" r="registrationMyMood"></div>
                <div class="range range-positive">
                    <i>0</i>
                    <input max="10" min="0" value="5" type="range" ng-model="newReg.generalSatisfaction">
                    <i>10</i>
                </div>
            </label>
            <label class="item">
                <div class="item-content" r="registrationHandledDay"></div>
                <div class="range range-positive">
                    <i>0</i>
                    <input max="10" min="0" value="5" type="range" ng-model="newReg.handledTheDay">
                    <i>10</i>
                </div>
            </label>
            <label class="item">
                <div class="item-content" r="registrationQualityOfSleep"></div>
                <div class="range range-positive">
                    <i>0</i>
                    <input max="10" min="0" value="5" type="range" ng-model="newReg.qualityOfSleep">
                    <i>10</i>
                </div>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label" r="registrationHouresOfSleep"></span>
                <input r="registrationNoOfHoures" type="text" ng-model="newReg.numberOfHoursSlept">
            </label>
            <label class="item">
                <div class="item-content" r="registrationQualityOfPhysicalActivity"></div>
                <div class="range range-positive">
                    <i>0</i>
                    <input max="10" min="0" value="5" type="range" ng-model="newReg.satisfactionWithPhysicalActivity">
                    <i>10</i>
                </div>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label"  r="registrationMinutesOfPhysicalActivity"></span>
                <input r="registrationNoOfMinutes" type="text" ng-model="newReg.numberOfMinutesInPhysicalActivity">
            </label>
            <label class="item">
                <div class="item-content"  r="registrationQualityOfDiet"></div>
                <div class="range range-positive">
                    <i>0</i>
                    <input max="10" min="0" value="5" type="range" ng-model="newReg.satisfactionWithDiet">
                    <i>10</i>
                </div>
            </label>
            <label class="item">
                <div class="item-content" r="registrationQualityOfSocial"></div>
                <div class="range range-positive">
                    <i>0</i>
                    <input max="10" min="0" value="5" type="range" ng-model="newReg.satisfactionWithSocialRelations">
                    <i>10</i>
                </div>
            </label>
            <label class="item">
                <div class="item-content" r="registrationTakenMeds"></div>
                <div class="list list-inline">
                    <ion-radio ng-model="newReg.takenMedications" ng-value="1" r="yes"></ion-radio>
                    <ion-radio ng-model="newReg.takenMedications" ng-value="2" r="no"></ion-radio>
                    <ion-radio ng-model="newReg.takenMedications" ng-value="3" r="notRelevant"></ion-radio>
                </div>
            </label>
        </div>
        <div class="padding button-bar">
            <button class="button button-positive" ng-click="sendRegistration('Daily')" r="post"></button>
            <button class="button button-negative" ui-sref="home.registration.list" r="cancel"></button>
        </div>
    </ion-content>
</ion-view>