<ion-view view-title="Nytt innlegg">
  <ion-content class="padding">
      <p ng-if="toQuote">
          Sitert tekst: <br/>
          <b>{{toQuote.author}}</b>
          <i>
              {{toQuote.content}}
          </i>
      </p>
      <label class="item item-input">
        <textarea ng-model="entry" placeholder="Fortell om dagen din her..."></textarea>
      </label>
      <div class="padding button-bar">
        <button class="button button-positive" ng-click="addEntry(entry)">
          Send inn
        </button>
          <button class="button button-negative" ui-sref="home.thread.list">
              Avbryt
          </button>
      </div>
  </ion-content>
</ion-view>