<ion-view>
	<ion-nav-title r="calendar"></ion-nav-title>
	<ion-content>
		<div>There will be calendars - try add cordovaCalendar to controller</div>
		<input type="date" ng-model="selectedDate"></input>
		<div>{{selectedDate}}</div>

		<label class="item item-input">
			<span class="input-label">Title:</span>
			<input type="text" ng-model="options.title"></input>
		</label>
		<label class="item item-input">
			<span class="input-label">Location:</span>
			<input type="text" ng-model="options.location"></input>
		</label>
		<label class="item item-input">
			<span class="input-label">Notes:</span>
			<input type="text" ng-model="options.notes"></input>
		</label>
		<label class="item item-input">
			<span class="input-label">Start Date:</span>
			<input type="date" ng-model="options.startDate"></input>
		</label>
		<label class="item item-input">
			<span class="input-label">End Date:</span>
			<input type="date" ng-model="options.endDate"></input>
		</label>
		<div>{{options}}</div>
		<div class="padding button-bar">
			<button class="button button-positive" ng-click="addEvent(options)">Add</button>
			<button class="button button-negative" ng-click="clear()">Clear</button>
		</div>
	</ion-content>
</ion-view>