<ion-view>
    <ion-nav-title r="diary"></ion-nav-title>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="entry in vm.entries">
                <b>{{entry.enteredAt}}</b>
                <p>{{entry.content}}</p>
                <ion-option-button class="button-positive" ng-click="quoteEntry(entry)" r="diaryEdit"></ion-option-button>
                <ion-option-button class="button" ng-click="quoteEntry(entry)" r="diaryDelete"></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>