<ion-view title={{exTitle}}>
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <!--Needs to go back to the right list-->
            <button class="button button-clear " ng-click="goBackToList()" >
                <i class="icon ion-ios-arrow-left"></i>
            </button>   
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-clear" ng-click="addToFv({{exerciseId}})">
                <i class="icon ion-heart" ng-class="{iconassertive: exercise.fv}"></i>
            </button>     
        </ion-nav-buttons>        
    </ion-nav-bar>
    
    <ion-content class="padding">
        <!--Nested views--> 
    <ion-tabs class="tabs-icon-only tabs-striped tabs-clear tabs-top">

        <ion-tab icon-on="ion-headphone" icon-off="ion-headphone" ui-sref=".sound">
            <ion-nav-view name="tab-exSound"></ion-nav-view>
        </ion-tab>

        <ion-tab icon-on="ion-document-text" icon-off="ion-document-text" ui-sref=".text">
            <ion-nav-view name="tab-exText"></ion-nav-view>
        </ion-tab>

        <ion-tab icon-on="ion-more" icon-off="ion-more" ui-sref=".details">
            <ion-nav-view name="tab-exDetails"></ion-nav-view> 
        </ion-tab>

    </ion-tabs>   

        <!--<div class=" button-bar padding">
            <button class="button button-clear" ng-class="{activated: $state.includes('home.exerciseView')}" ui-sref="home.exerciseView.sound" ><i class="icon ion-headphone" ></i></button>
            <button class="button button-clear" ui-sref="home.exerciseView.text" ng-class="{activated: $state.includes('home.exerciseView')}"><i class="icon ion-document-text"></i></button>
            <button class="button button-clear" ui-sref="home.exerciseView.details" ng-class="{activated: $state.includes('home.exerciseView')}"><i class="icon ion-more"></i></button>                
        </div>

        <div class="" ng-show="showSound()">
           <ion-nav-view name="exerciseSound"></ion-nav-view> 
        </div>
        <div class="">
           <ion-nav-view name="exerciseText"></ion-nav-view> 
        </div>         
        <div class="">
           <ion-nav-view name="exerciseDetails"></ion-nav-view> 
        </div>
        <div class="">
            <button class="button button-clear button-positive" ng-click="showActionSheet()">
            <i class="icon ion-more"></i>
        </button>
        </div>-->

            
    </ion-content>
</ion-view>