<ion-view title={{exTitle}}>
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <!--Needs to go back to the right list-->
            <button class="button button-clear " ng-click="goBackToList()" >
                <i class="icon ion-ios-arrow-left"></i>
            </button>   
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-clear" ng-click="addToFv({{exerciseId}})">
                <i class="icon ion-heart" ng-class="{iconassertive: exercise.fv}"></i>
            </button>     
        </ion-nav-buttons>        
    </ion-nav-bar>
    

        <!--Nested views--> 
    <ion-tabs class="tabs-icon-only tabs-striped tabs-clear tabs-top">

        <ion-tab icon-on="ion-headphone" icon-off="ion-headphone" ui-sref=".sound">
            <ion-nav-view name="tab-exSound"></ion-nav-view>
        </ion-tab>

        <ion-tab icon-on="ion-document-text" icon-off="ion-document-text" ui-sref=".text">
            <ion-nav-view name="tab-exText"></ion-nav-view>
        </ion-tab>

        <ion-tab icon-on="ion-more" icon-off="ion-more" ui-sref=".details">
            <ion-nav-view name="tab-exDetails"></ion-nav-view> 
        </ion-tab>

    </ion-tabs>             

</ion-view>