<ion-view  title={{exTitle}}>
    <ion-content>
    <div class="card-wrap">
         <div class="exercise-step  card full-card list padding">
            <button 
            class="button button-clear icon ion-chevron-up previous-card" 
            ng-click="previousStep(stepNr-1)"
            ></button>            
            <div class="item" >
                <h1>
                    {{currentStep}}                
                </h1>           
            </div>
            <button class="button button-clear icon ion-chevron-down next-card" ng-click="nextStep(stepNr+1)">
            </button>              
        </div>       
    </div>

    </ion-content>
</ion-view>