<ion-view view-title="{{title}}">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="alertSearch()">
            <i class="icon ion-search"></i>
        </button>
    </ion-nav-buttons>
    <ion-content style="" class="has-header">
        <ion-list class="list">
            <!--<ion-item class="item item-thumbnail-left" ng-repeat="exercise in exercisesTemporaryList" ui-sref="home.exerciseModal({exerciseId: exercise.id, exerciseName: exercise.name})" ng-click="openExercise(exercise.id, exercise.name)">-->
            <ion-item 
            on-hold="showListSheet()"
            class="item item-thumbnail-left" 
            ng-repeat="exercise in exList" 
            ui-sref="home.exerciseView({exerciseId: exercise.id, exerciseName: exercise.name})"
            ng-click="registerList()">            
            	<img ng-src="media/images/thumbnails/sample-thumbnail.png"/>
            	<h2>
                	{{exercise.name}}
            	</h2>
            	<p>
                	{{exercise.desc}}
            	</p>            	
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
