<ion-view  title={{exTitle}}>
    <ion-content>
        <div class="padding">
        </div>
        <div class="card-wrap">
            <div class="card full-card list padding">
                <div class="item">
                    <audio controls>
                      <source src="media/sound/sound-sample.mp3" type="audio/mpeg">
                      Your browser does not support the audio element.
                    </audio>                    
                </div>

            </div>                        
        </div>
       
    </ion-content>
</ion-view>