$appColor: #4db295;
/*-----------------------------------*/
$citationColor: #f5f5f5;
$appBgColor: #eceeef;
$menuBgColor: $appColor;
$headerTitleColor: $appColor;
$menuActivatedColor: #449981;
$menuItemColor: #f3e4b5;