
@import '_variables';
@import '_colors';
@import '_functions';
@import '_mixins';

.item-content {
    img {
        vertical-align: middle;
    }
}

.citation {
    background-color: $citationColor;
    padding: .5em 1em;
}
.citation-author {
    font-weight: bold;
}

.centerme {
    margin: 0 auto;
    width: 100%;
    height:100%;
}

.fullscreen-player {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: none;
    position: fixed;
    right: 0;
    top: 0;
}

#menu-header {
    background-image: url("../media/images/menu/menu-header.png");
    background-color: #cccccc;
    img {
        border: 1px solid #999;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        margin-top: 2em;
    }
    h2 {
        margin: 0;
    }
}

%mood-style {
  width: 250px;
  height: 250px;
  //align center of the div
  margin: 0 auto;
  //make sure everything stays within the div
  position: relative;
}

@for $i from 1 through 12 {
    .mood-image-#{$i} {
        background-image: url($imagesPath + "#{$i}.png");
        background-repeat: no-repeat;
        height: $moodSize;
        width: $moodSize;
        margin-left: auto;
        margin-right: auto;
        margin-top: $moodSize/4;
    }
}

.center-mood {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-style: solid;
    border-width: 1px;
    border-radius: 200%;
}



.mood {
    @extend %mood-style;
    @include moods;

}
