
@import '_variables';
@import '_colors';
@import '_functions';
@import '_mixins';

.bar.bar-stable .title {
    color: $headerTitleColor;
}
.item-content {
    img {
        vertical-align: middle;
    }
}

.citation {
    background-color: $citationColor;
    padding: .5em 1em;
}
.citation-author {
    font-weight: bold;
}

.centerme {
    margin: 0 auto;
    width: 100%;
    height:100%;
}

dl.item.row {
    padding: 0;
}
dt.col.col-80,
dt.col.col-50, {
    white-space: normal;
    padding: 1em;
}
dd.col {
    background-color: $appColor;
    color: white;
    font-size: 2em;
    text-align: center;    
}
dd.col.col-50 {
    background-color: $appColor;
    color: white;
    font-size: 1em;
    padding-top: 2em;
    text-align: center;    
}

.fullscreen-player {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: none;
    position: fixed;
    right: 0;
    top: 0;
}

ion-content,
.list ion-item.item .item-content {
    background-color: $appBgColor;
}


ion-side-menu ion-content,
ion-side-menu ion-content .list ion-item.item .item-content {
    background-color: $menuBgColor;
    color: $menuItemColor;
}
ion-side-menu ion-content .list ion-item.item {
    border: 1px solid $menuActivatedColor;
    border-color: $menuActivatedColor;
}
ion-side-menu ion-content .list ion-item.item.activated .item-content {
    background-color: $menuActivatedColor;
}




#menu-header {
    background-image: url("../media/images/menu/menu-header.png");
    background-color: #cccccc;
    img {
        border: 1px solid #999;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        margin-top: 2em;
    }
    h2 {
        margin: 0;
    }
}

%mood-style {
  width: 250px;
  height: 250px;
  //align center of the div
  margin: 0 auto;
  //make sure everything stays within the div
  position: relative;
    background-image: url("images/mood-bg/mood-bg.png");

}

@for $i from 1 through 12 {
    .mood-image-#{$i} {
        background-image: url($imagesPathBig + "big-"+ "#{$i}.png");
        background-repeat: no-repeat;
        height: 105%;
        width: 105%;
        //margin-left: auto;
        //margin-right: auto;
        //margin-top: $moodSize/4;
    }
}

.center-mood {
    position: absolute;
    //top: calc(50% - 25px);
    //left: calc(50% - 25px);
    top: 90px;
    left: 90px;    
    height: 70px;
    width: 70px;
    line-height: 50px;
    //border-style: solid;
    //border-width: 1px;
    //border-radius: 200%;
}



.mood {
    @extend %mood-style;
    @include moods;
    margin-top: 3em;
    margin-bottom: 3em;
}


