<ion-view>
    <ion-nav-title r="forumThreadNewEntry"></ion-nav-title>
    <ion-content class="padding" ng-init="startEntry()">
        <p ng-if="toQuote">
            <span r="forumCited"></span><br/>
            <b>{{toQuote.author}}</b>
            <i>
                {{toQuote.content}}
            </i>
        </p>
        <label class="item item-input">
            <textarea ng-model="entry.content" r="forumEntryHint"></textarea>
        </label>
        <div class="padding button-bar">
            <button class="button button-positive" ng-click="addEntry()" r="post"></button>
            <button class="button button-positive" ng-click="saveEntry()" r="save"></button>
            <button class="button button-negative" ng-click="cancel()" r="cancel"></button>
        </div>
    </ion-content>
</ion-view>