<ion-view>
	<ion-nav-bar>
	    <ion-nav-buttons side="primary">
	        <button class="button button-clear " ui-sref="home.forum" >
	            <i class="icon ion-ios-arrow-left"></i>
	        </button>
	    </ion-nav-buttons>
    </ion-nav-bar>
	<ion-tabs class="tabs-icon-top tabs-color-active-positive">

	  <!-- Dashboard Tab -->
	  <ion-tab title="Innlegg" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" ui-sref=".list">
          <ion-nav-title r="forumThreadEntries"></ion-nav-title>
          <ion-nav-view name="tab-list"></ion-nav-view>
	  </ion-tab>

	  <!-- Chats Tab -->
	  <ion-tab title="Nytt innlegg" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" ui-sref=".newEntry">
         <ion-nav-title r="forumThreadNewEntry"></ion-nav-title>
          <ion-nav-view name="tab-new"></ion-nav-view>
	  </ion-tab>

	</ion-tabs>    
</ion-view>

