<ion-view>
    <ion-nav-bar>
        <ion-nav-buttons side="primary">
            <button class="button button-clear " ui-sref="home.messages">
                <i class="icon ion-ios-arrow-left"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-title r="messageTitle"></ion-nav-title>
    <ion-content class="padding">
        <div class="card">
            <div class="item item-divider">
                from: {{message.sender.name}}
            </div>
            <div class="item item-divider">
                to: <span ng-repeat="receiver in message.receivers">{{receiver.name}} </span>
            </div>
            <div class="item item-divider">
                sent: {{message.sentAt | date}}
            </div>
            <div class="item item-divider">
                subject: {{message.subject}}
            </div>
            <div class="padding">
                <div ng-bind-html="message.content | unsafe">
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>