<ion-view>
    <ion-nav-title r="messageNewTitle"></ion-nav-title>
    <ion-content>
        <form name="msgForm" novalidate="">
            <input type="hidden" ng-model="message.id"/>

            <label class="item item-stacked-label" ng-class="{'has-error': msgForm.subject.$invalid && msgForm.subject.$touched}">
                <span class="input-label"  r="messageSubject"></span>
                <input name="subject" type="text" ng-model="message.subject" required/>
            </label>

            <label class="item item-stacked-label" ng-class="{'has-error': msgForm.content.$invalid && msgForm.content.$touched}">
                <span class="input-label" r="messageContent"></span>
                <textarea name="content" ng-model="message.content" required></textarea>
            </label>
            <label class="item item-stacked-label">
                <span class="input-label" r="messageReceivers"></span>
            </label>
            <ion-checkbox name="helpers" collection-repeat="h in helpers" ng-model="h.selected" ng-checked="h.selected">{{h.name}}</ion-checkbox>


        </form>
        <div class="padding button-bar">
            <button class="button button-positive" ng-click="addEntry()" ng-disabled="msgForm.$invalid" r="messageSend"></button>
            <button class="button button-calm" ng-click="saveDraft()" r="messageSave"></button>
            <button class="button button-dark" ng-click="empty()" r="empty"></button>
            <button class="button button-negative" ng-click="cancel()" r="cancel"></button>
        </div>
    </ion-content>
</ion-view>