<ion-view>
    <ion-nav-title r="messageDraftsTitle"></ion-nav-title>
    <ion-content>
        <ion-list>
            <ion-item collection-repeat="message in messages" ui-sref="home.messages.compose({messageId: message.id})">
                <!-- This is supposed to be faster than ng-repeat -->
                <ion-item class="padding">subject: {{message.subject}}</ion-item>
                <ion-item class="padding">last saved: {{message.lastModified | date }}</ion-item>
                <ion-item class="padding">to: <span ng-repeat="receiver in message.receivers">{{receiver.name}} </span></ion-item>
                <ion-option-button class="button button-assertive" ng-click="delete(message)" r="delete"></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>