<ion-view>
    <ion-nav-title r="messageInboxTitle"></ion-nav-title>
    <ion-content>
        <ion-list>
            <ion-item collection-repeat="message in messages" ui-sref="home.messageView({messageId: message.id})">
                <!-- This is supposed to be faster than ng-repeat -->
                <ion-item class="padding">subject: {{message.subject}}</ion-item>
                <ion-item class="padding">received: {{message.sentAt | date }}</ion-item>
                <ion-item class="padding">from: {{message.sender.name}}</ion-item>
                <ion-option-button class="button-positive" ng-click="replyTo(message)" r="messageReply"></ion-option-button>
        </ion-item>
        </ion-list>
    </ion-content>
</ion-view>