<ion-view>
    <ion-nav-title r="messageOutboxTitle"></ion-nav-title>
    <ion-content>
        <ion-list>
            <ion-item collection-repeat="message in messages" ui-sref="home.messageView({messageId: message.id})">
                <!-- This is supposed to be faster than ng-repeat -->
                <ion-item class="padding">subject: {{message.subject}}</ion-item>
                <ion-item class="padding">sent: {{message.sentAt | date }}</ion-item>
                <ion-item class="padding">to: <span ng-repeat="receiver in message.receivers">{{receiver.name}} </span>
                </ion-item>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>