/*-----------------------------------*/
/* line 7, scss/style.scss */
.bar.bar-stable .title {
  color: #4db295;
}

/* line 11, scss/style.scss */
.item-content img {
  vertical-align: middle;
}

/* line 16, scss/style.scss */
.citation {
  background-color: #f5f5f5;
  padding: .5em 1em;
}

/* line 20, scss/style.scss */
.citation-author {
  font-weight: bold;
}

/* line 24, scss/style.scss */
.centerme {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

/* line 30, scss/style.scss */
dl.item.row {
  padding: 0;
}

/* line 33, scss/style.scss */
dt.col.col-80,
dt.col.col-50 {
  white-space: normal;
  padding: 1em;
}

/* line 38, scss/style.scss */
dd.col {
  background-color: #4db295;
  color: white;
  font-size: 2em;
  text-align: center;
  white-space: normal;
}

/* line 45, scss/style.scss */
dd.col.col-20 {
  background-color: #4db295;
  color: white;
  font-size: 1em;
  padding-top: 1em;
  text-align: center;
}

/* line 53, scss/style.scss */
.fullscreen-player {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: none;
  position: fixed;
  right: 0;
  top: 0;
}

/* line 65, scss/style.scss */
ion-content,
.list ion-item.item .item-content {
  background-color: #eceeef;
}

/* line 71, scss/style.scss */
ion-side-menu ion-content,
ion-side-menu ion-content .list ion-item.item .item-content {
  background-color: #4db295;
  color: #f3e4b5;
}

/* line 76, scss/style.scss */
ion-side-menu ion-content .list ion-item.item {
  border: 1px solid #449981;
  border-color: #449981;
}

/* line 80, scss/style.scss */
ion-side-menu ion-content .list ion-item.item.activated .item-content {
  background-color: #449981;
}

/* line 87, scss/style.scss */
#menu-header {
  background-image: url("../media/images/menu/menu-header.png");
  background-color: #cccccc;
}
/* line 90, scss/style.scss */
#menu-header img {
  border: 1px solid #999;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  margin-top: 2em;
}
/* line 98, scss/style.scss */
#menu-header h2 {
  margin: 0;
}

/* line 103, scss/style.scss */
.mood {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  position: relative;
  background-image: url("images/mood-bg/mood-bg.png");
}

/* line 115, scss/style.scss */
.mood-image-1 {
  background-image: url("images/moods/big/big-1.png");
  background-repeat: no-repeat;
  height: 105%;
  width: 105%;
}

/* line 115, scss/style.scss */
.mood-image-2 {
  background-image: url("images/moods/big/big-2.png");
  background-repeat: no-repeat;
  height: 105%;
  width: 105%;
}

/* line 115, scss/style.scss */
.mood-image-3 {
  background-image: url("images/moods/big/big-3.png");
  background-repeat: no-repeat;
  height: 105%;
  width: 105%;
}

/* line 115, scss/style.scss */
.mood-image-4 {
  background-image: url("images/moods/big/big-4.png");
  background-repeat: no-repeat;
  height: 105%;
  width: 105%;
}

/* line 115, scss/style.scss */
.mood-image-5 {
  background-image: url("images/moods/big/big-5.png");
  background-repeat: no-repeat;
  height: 105%;
  width: 105%;
}

/* line 115, scss/style.scss */
.mood-image-6 {
  background-image: url("images/moods/big/big-6.png");
  background-repeat: no-repeat;
  height: 105%;
  width: 105%;
}

/* line 115, scss/style.scss */
.mood-image-7 {
  background-image: url("images/moods/big/big-7.png");
  background-repeat: no-repeat;
  height: 105%;
  width: 105%;
}

/* line 115, scss/style.scss */
.mood-image-8 {
  background-image: url("images/moods/big/big-8.png");
  background-repeat: no-repeat;
  height: 105%;
  width: 105%;
}

/* line 115, scss/style.scss */
.mood-image-9 {
  background-image: url("images/moods/big/big-9.png");
  background-repeat: no-repeat;
  height: 105%;
  width: 105%;
}

/* line 115, scss/style.scss */
.mood-image-10 {
  background-image: url("images/moods/big/big-10.png");
  background-repeat: no-repeat;
  height: 105%;
  width: 105%;
}

/* line 115, scss/style.scss */
.mood-image-11 {
  background-image: url("images/moods/big/big-11.png");
  background-repeat: no-repeat;
  height: 105%;
  width: 105%;
}

/* line 115, scss/style.scss */
.mood-image-12 {
  background-image: url("images/moods/big/big-12.png");
  background-repeat: no-repeat;
  height: 105%;
  width: 105%;
}

/* line 126, scss/style.scss */
.center-mood {
  position: absolute;
  top: 90px;
  left: 90px;
  height: 70px;
  width: 70px;
  line-height: 50px;
}

/* line 142, scss/style.scss */
.mood {
  margin-top: 3em;
  margin-bottom: 3em;
}
/* line 3, scss/_mixins.scss */
.mood .mood-1 {
  text-decoration: none;
  color: white;
  display: block;
  height: 32px;
  width: 32px;
  line-height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  text-align: center;
  position: absolute;
  background-image: url("images/moods/small/1.png");
  background-repeat: no-repeat;
  left: 67.5%;
  top: 19.68911%;
}
/* line 3, scss/_mixins.scss */
.mood .mood-2 {
  text-decoration: none;
  color: white;
  display: block;
  height: 32px;
  width: 32px;
  line-height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  text-align: center;
  position: absolute;
  background-image: url("images/moods/small/2.png");
  background-repeat: no-repeat;
  left: 80.31089%;
  top: 32.5%;
}
/* line 3, scss/_mixins.scss */
.mood .mood-3 {
  text-decoration: none;
  color: white;
  display: block;
  height: 32px;
  width: 32px;
  line-height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  text-align: center;
  position: absolute;
  background-image: url("images/moods/small/3.png");
  background-repeat: no-repeat;
  left: 85%;
  top: 50.0%;
}
/* line 3, scss/_mixins.scss */
.mood .mood-4 {
  text-decoration: none;
  color: white;
  display: block;
  height: 32px;
  width: 32px;
  line-height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  text-align: center;
  position: absolute;
  background-image: url("images/moods/small/4.png");
  background-repeat: no-repeat;
  left: 80.31089%;
  top: 67.5%;
}
/* line 3, scss/_mixins.scss */
.mood .mood-5 {
  text-decoration: none;
  color: white;
  display: block;
  height: 32px;
  width: 32px;
  line-height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  text-align: center;
  position: absolute;
  background-image: url("images/moods/small/5.png");
  background-repeat: no-repeat;
  left: 67.5%;
  top: 80.31089%;
}
/* line 3, scss/_mixins.scss */
.mood .mood-6 {
  text-decoration: none;
  color: white;
  display: block;
  height: 32px;
  width: 32px;
  line-height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  text-align: center;
  position: absolute;
  background-image: url("images/moods/small/6.png");
  background-repeat: no-repeat;
  left: 50.0%;
  top: 85%;
}
/* line 3, scss/_mixins.scss */
.mood .mood-7 {
  text-decoration: none;
  color: white;
  display: block;
  height: 32px;
  width: 32px;
  line-height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  text-align: center;
  position: absolute;
  background-image: url("images/moods/small/7.png");
  background-repeat: no-repeat;
  left: 32.5%;
  top: 80.31089%;
}
/* line 3, scss/_mixins.scss */
.mood .mood-8 {
  text-decoration: none;
  color: white;
  display: block;
  height: 32px;
  width: 32px;
  line-height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  text-align: center;
  position: absolute;
  background-image: url("images/moods/small/8.png");
  background-repeat: no-repeat;
  left: 19.68911%;
  top: 67.5%;
}
/* line 3, scss/_mixins.scss */
.mood .mood-9 {
  text-decoration: none;
  color: white;
  display: block;
  height: 32px;
  width: 32px;
  line-height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  text-align: center;
  position: absolute;
  background-image: url("images/moods/small/9.png");
  background-repeat: no-repeat;
  left: 15%;
  top: 50.0%;
}
/* line 3, scss/_mixins.scss */
.mood .mood-10 {
  text-decoration: none;
  color: white;
  display: block;
  height: 32px;
  width: 32px;
  line-height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  text-align: center;
  position: absolute;
  background-image: url("images/moods/small/10.png");
  background-repeat: no-repeat;
  left: 19.68911%;
  top: 32.5%;
}
/* line 3, scss/_mixins.scss */
.mood .mood-11 {
  text-decoration: none;
  color: white;
  display: block;
  height: 32px;
  width: 32px;
  line-height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  text-align: center;
  position: absolute;
  background-image: url("images/moods/small/11.png");
  background-repeat: no-repeat;
  left: 32.5%;
  top: 19.68911%;
}
/* line 3, scss/_mixins.scss */
.mood .mood-12 {
  text-decoration: none;
  color: white;
  display: block;
  height: 32px;
  width: 32px;
  line-height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  text-align: center;
  position: absolute;
  background-image: url("images/moods/small/12.png");
  background-repeat: no-repeat;
  left: 50.0%;
  top: 15%;
}
